@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@{
    var yourHtmlWithPlaceholdersHere = "<editable-area id=\"areaIdentifier\"></editable-area>";
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    @Html.Kentico().PageBuilderStyles()
</head>

<body>
    @await Html.ResolveEditableAreasAsync(yourHtmlWithPlaceholdersHere)

    @Html.Kentico().PageBuilderScripts()
</body>

</html>
